# ==========================
# Python
# ==========================
backend/.venv/
**/__pycache__/
*.py[cod]
*.pyo

# ==========================
# Environment Variables
# ==========================
.env
.env.*
backend/.env
frontend/.env

# ==========================
# Uploads
# ==========================
backend/uploads/

# ==========================
# Node.js
# ==========================
**/node_modules/
frontend/dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log
npm-debug.log*